<div class="text-center">
<% unless current_user %>
<br><br>
<h2>Registration Form</h2>

<%= render 'form', user: @user %>

</div>
<% else %>
<div class="text-center alert alert-warning" role="alert">
  User is already Registered
</div>
<% end %>
