<%if current_user.id == @user.id then%>

<div class="text-center">
<h2>Faculty Page</h2>

<br>

<%= link_to 'Search Book',:action=>:search,:id=>current_user.profile_id.to_s %><br>

<%= link_to 'View Issued Books',:action=>:indexBookIssue,:id=>current_user.profile_id.to_s %><br>
</div>

<%else%>
<div class="text-center">
<div class="alert alert-danger" role="alert">
  <p>You are not permitted to view this page!<p>
</div>

<%= link_to 'Back to Home', '/faculty/'+current_user.profile_id.to_s %>
</div>
<%end%>

